<!DOCTYPE html><html lang="zh"><head><meta charset="utf-8" />
<title><?php echo $post['title']; ?></title>
<meta name="description" content="<?php echo $post['description']; ?>" />
<meta name="keywords" content="<?php echo $post['keywords']; ?>" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
<script>
var docEl = document.documentElement;
docEl.style.fontSize = 100 / 375 * docEl.clientWidth  + 'px';
window.addEventListener('resize', function() {
  docEl.style.fontSize = 100 / 375 * docEl.clientWidth + 'px';
});
</script>
<link rel="stylesheet" href="/css/antui-all.css"/>
<link rel="stylesheet" href="/css/mobile/style.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/mobile/public.js"></script>
{include file="common/header"/}
</head>
<body ontouchstart="" style="background-color:#ffffff;">

<div class="classreturnbox">
<div class="classreturn">
    <div class="ds-in-bl return"><a href="javascript:history.back(-1);"><img src="<?php echo http_host(); ?>/images/mobile/icon_return3.png" alt="返回"></a></div>
    <div class="ds-in-bl tit center"><span style="vertical-align:middle;">详情</span></div>
</div>
</div>

<div class="am-article">
    <h2><?php echo $post['title']; ?></h2>
    <time><a style="color:#ee5b03;" class="am-ft-black" href="<?php echo url('article/index').'?id=' . $post['type_id']; ?>"><?php echo $post['type_name_text']; ?></a> <?php echo date('m-d', $post['update_time']); ?></time>
    <?php echo $post['content']; ?>
    <div class="cl" style="margin-top:10px;color:#999;">阅读 <?php echo $post['click']; ?><!-- <a class="red" href="" rel="prev"></a> --></div>
</div>

{include file="common/footer"/}
<div style="display:none;"><?php echo sysconfig('CMS_SITE_ANALYTICS'); ?></div>
</body></html>