<!DOCTYPE html><html lang="zh"><head><meta charset="utf-8" />
<title>NOT FOUND</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
<script>
var docEl = document.documentElement;
docEl.style.fontSize = 100 / 375 * docEl.clientWidth  + 'px';
window.addEventListener('resize', function() {
  docEl.style.fontSize = 100 / 375 * docEl.clientWidth + 'px';
});
</script>
<link rel="stylesheet" href="/css/antui-all.css"/>
</head>
<body ontouchstart="" style="">

<div class="am-page-result">
    <div class="am-page-result-wrap">
        <div class="am-page-result-pic am-icon page-network"></div>
        <div class="am-page-result-title">网络不给力</div>
        <div class="am-page-result-brief">世界上最遥远的距离莫过于此</div>
    </div>
    <div class="am-page-result-button">
        <a href="/mobile" class="am-page-result-button">返回首页</a>
        <!-- <a href="javascript:history.back(-1);" class="am-page-result-button">返回上一页</a> -->
    </div>
</div>

</body></html>