<!DOCTYPE html><html lang="zh"><head><meta charset="utf-8" />
<title>提现记录</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
<script>
var docEl = document.documentElement;
docEl.style.fontSize = 100 / 375 * docEl.clientWidth  + 'px';
window.addEventListener('resize', function() {
  docEl.style.fontSize = 100 / 375 * docEl.clientWidth + 'px';
});
</script>
<link rel="stylesheet" href="/css/antui-all.css"/>
<link rel="stylesheet" href="/css/mobile/style.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/layer/mobile/layer.js"></script>
{include file="common/header"/}
</head>
<body ontouchstart="" style="">

<div class="classreturnbox">
<div class="classreturn">
    <div class="ds-in-bl return"><a href="javascript:history.back(-1);"><img src="<?php echo http_host(); ?>/images/mobile/icon_return3.png" alt="返回"></a></div>
    <div class="ds-in-bl tit center"><span style="vertical-align:middle;">提现记录</span></div>
</div>
</div>

<?php if ($list) { ?>
<style>
.record_outer{background:#fff;margin-top:10px;font-size:14px;}
.record_outer table{width:100%;border-collapse:collapse;}
.record_outer table td,.record_outer table th{border: 1px solid #ebebeb;padding:6px 6px;text-align:center;}
</style>
<div class="record_outer">
<table id="list">
	<tr>
		<th>提现金额</th>
		<th>提现时间</th>
		<th>状态</th>
		<th>说明</th>
	</tr>
	<?php foreach ($list as $k=>$v) { ?>
	<tr>
		<td><?php echo floatval($v['money']); ?></td>
		<td><?php echo date('Y-m-d H:i', $v['add_time']); ?></td>
		<td style="<?php if ($v['status'] == 2) { echo 'color:#04ba06;'; } elseif ($v['status'] == 4) { echo 'color:red;'; } ?>"><?php echo $v['status_text']; ?></td>
		<td><?php if (!empty($v['re_note'])) { echo '<a class="show_prompt" href="javascript:;" data-prompt="' . $v['re_note'] . '">查看</a>'; } else { echo '-'; } ?></td>
	</tr>
	<?php } ?>
</table>
</div>

<script>
$(function(){
    var ajaxload  = false;
    var maxpage   = false;
    var startpage = 1;
    var totalpage = <?php echo $totalpage; ?>;
    
    var tmp_url   = window.location.href;
    msg = tmp_url.split("#");
    tmp_url = msg[0];
    
    $(window).scroll(function ()
    {
        var listheight = $("#list").outerHeight(); 
        
        if ($(document).scrollTop() + $(window).height() >= listheight)
        {
            if(startpage >= totalpage)
            {
                //$("#submit_bt_one").html("已是最后一页，没有更多数据！");
                return false;
            }
            
            if(!ajaxload && !maxpage)
            {
                ajaxload = true;
                //$("#submit_bt_one").html("努力加载中...");
                var url = tmp_url;
                var nextpage = startpage+1;
                
                $.get(url,{page_ajax:1,page:nextpage},function(res)
                {
                    if(res)
                    {
                        $("#list").append(res);
                        startpage++;
                        
                        if(startpage >= totalpage)
                        {
                            maxpage = true;
                            //$("#submit_bt_one").html("已是最后一页，没有更多数据！");
                        }
                        else
                        {
                            //$("#submit_bt_one").html("点击加载更多");
                        }
                        
                        ajaxload = false;
                    }
                    else
                    {
                        //$("#submit_bt_one").html("请求失败，请稍候再试！");
                        ajaxload = false;
                    }
                },'json');
            }
        }
    });

	$(".show_prompt").click(function(){
		//信息框
		layer.open({
			content: $(this).attr("data-prompt")
			,btn: '确定'
		});
	});
});
</script>
<?php } else { ?>
    <div style="text-align:center;line-height:40px;color:#999;">暂无记录</div>
<?php } ?>

{include file="common/footer"/}
</body></html>