<!DOCTYPE html><html lang="zh"><head><meta charset="utf-8" />
<title>银行卡绑定</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
<script>
var docEl = document.documentElement;
docEl.style.fontSize = 100 / 375 * docEl.clientWidth  + 'px';
window.addEventListener('resize', function() {
  docEl.style.fontSize = 100 / 375 * docEl.clientWidth + 'px';
});
</script>
<link rel="stylesheet" href="/css/antui-all.css"/>
<link rel="stylesheet" href="/css/mobile/style.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/layer/mobile/layer.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
{include file="common/header"/}
</head>
<body ontouchstart="" style="">

<div class="classreturnbox">
<div class="classreturn">
    <div class="ds-in-bl return"><a href="javascript:history.back(-1);"><img src="<?php echo http_host(); ?>/images/mobile/icon_return3.png" alt="返回"></a></div>
    <div class="ds-in-bl tit center"><span style="vertical-align:middle;">银行卡绑定</span></div>
</div>
</div>

<?php if (!empty($login_info['bank_name']) && !empty($login_info['bank_branch_name']) && !empty($login_info['bank_card_number'])) { ?>
<div class="am-list am-list-form">
	<div class="am-list-item am-input-autoclear">
		<div class="am-list-label">所属银行</div>
		<div class="am-list-control">
			<?php echo $login_info['bank_name']; ?>
		</div>
	</div>
	<div class="am-list-item am-input-autoclear">
		<div class="am-list-label">支行</div>
		<div class="am-list-control">
			<?php echo $login_info['bank_branch_name']; ?>
		</div>
	</div>
	<div class="am-list-item am-input-autoclear">
		<div class="am-list-label">储蓄卡号</div>
		<div class="am-list-control">
			<?php echo substr_replace($login_info['bank_card_number'],'********',4,8); ?>
		</div>
	</div>
</div>
<?php } else { ?>
<form class="ajax_post_submit" id="myform" method="post" action="{:url('user/bind_bank_card')}" role="form">{:token()}
<input name="jump_url" type="text" value="{$jump_url}" style="display:none;">
<div class="am-list am-list-form">
	<div class="am-list-item am-input-autoclear">
		<div class="am-list-label">所属银行</div>
		<div class="am-list-control">
			<input name="bank_name" id="bank_name" type="text" placeholder="如：中国工商银行" value="<?php if (!empty($login_info['bank_name'])) { echo $login_info['bank_name']; } ?>" autofocus="autofocus">
		</div>
	</div>
	<div class="am-list-item am-input-autoclear">
		<div class="am-list-label">　　支行</div>
		<div class="am-list-control">
			<input name="bank_branch_name" id="bank_branch_name" type="text" placeholder="如：北京海淀支行" value="<?php if (!empty($login_info['bank_branch_name'])) { echo $login_info['bank_branch_name']; } ?>">
		</div>
	</div>
	<div class="am-list-item am-input-autoclear">
		<div class="am-list-label">储蓄卡号</div>
		<div class="am-list-control">
			<input name="bank_card_number" id="bank_card_number" type="text" placeholder="请输入储蓄卡号" value="<?php if (!empty($login_info['bank_card_number'])) { echo $login_info['bank_card_number']; } ?>">
		</div>
	</div>
	<div class="am-list-footer">注意：提现到指定的银行卡，请认真填写。如遇问题请联系人工客服处理。</div>
</div>

<div style="margin:5px 20px;">
	<a href="javascript:dosubmit();" type="button" class="am-button" role="button">确定</a>
</div>
</form>

<script>
function dosubmit()
{
    var bank_name = $("#bank_name").val();
	var bank_branch_name = $("#bank_branch_name").val();
	var bank_card_number = $("#bank_card_number").val();
	
	if(bank_name == '')
	{
		layer.open({
			content: '请输入正确的所属银行'
			,skin: 'msg'
			,time: 2 //2秒后自动关闭
		});
        return false;
	}
    if(bank_branch_name=='')
	{
		layer.open({
			content: '请输入正确的支行名称'
			,skin: 'msg'
			,time: 2 //2秒后自动关闭
		});
        return false;
	}
    if(bank_card_number=='')
	{
		layer.open({
			content: '请输入正确的卡号'
			,skin: 'msg'
			,time: 2 //2秒后自动关闭
		});
        return false;
	}

    $("#myform").submit();
}
</script>
<?php } ?>

</body></html>