<!DOCTYPE html><html lang="zh"><head><meta charset="utf-8" />
<title>修改密码</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
<script>
var docEl = document.documentElement;
docEl.style.fontSize = 100 / 375 * docEl.clientWidth  + 'px';
window.addEventListener('resize', function() {
  docEl.style.fontSize = 100 / 375 * docEl.clientWidth + 'px';
});
</script>
<link rel="stylesheet" href="/css/antui-all.css"/>
<link rel="stylesheet" href="/css/mobile/style.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/layer/mobile/layer.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
{include file="common/header"/}
</head>
<body ontouchstart="" style="">

<div class="classreturnbox">
<div class="classreturn">
    <div class="ds-in-bl return"><a href="javascript:history.back(-1);"><img src="<?php echo http_host(); ?>/images/mobile/icon_return3.png" alt="返回"></a></div>
    <div class="ds-in-bl tit center"><span style="vertical-align:middle;">修改密码</span></div>
</div>
</div>

<form class="ajax_post_submit" id="myform" method="post" action="{:url('user/user_password_update')}" role="form">{:token()}
<div class="am-list am-list-form">
	<div class="am-list-item am-input-autoclear">
		<div class="am-list-label">旧密码</div>
		<div class="am-list-control">
			<input name="old_password" id="old_password" type="password" placeholder="请输入旧密码" value="" autofocus="autofocus">
		</div>
	</div>
	<div class="am-list-item am-input-autoclear">
		<div class="am-list-label">新密码</div>
		<div class="am-list-control">
			<input name="password" id="password" type="password" placeholder="请输入新密码" value="">
		</div>
	</div>
	<div class="am-list-item am-input-autoclear">
		<div class="am-list-label">确认新密码</div>
		<div class="am-list-control">
			<input name="confirm_password" id="confirm_password" type="password" placeholder="请输入确认新密码" value="">
		</div>
	</div>
</div>

<div style="margin:5px 20px;">
	<a href="javascript:dosubmit();" type="button" class="am-button" role="button">确定</a>
</div>
</form>

<script>
function dosubmit()
{
    var old_password = $("#old_password").val();
	var password = $("#password").val();
	var confirm_password = $("#confirm_password").val();
	
	if(password == '')
	{
		layer.open({
			content: '新密码不能为空'
			,skin: 'msg'
			,time: 2 //2秒后自动关闭
		});
		return false;
	}
	if(old_password=='')
	{
		layer.open({
			content: '旧密码不能为空'
			,skin: 'msg'
			,time: 2 //2秒后自动关闭
		});
		return false;
	}
	if(confirm_password == '')
	{
		layer.open({
			content: '确认新密码不能为空'
			,skin: 'msg'
			,time: 2 //2秒后自动关闭
		});
		return false;
	}
	if(password == old_password)
	{
		layer.open({
			content: '新旧密码一样'
			,skin: 'msg'
			,time: 2 //2秒后自动关闭
		});
		
		return false;
	}
	if(confirm_password != password)
	{
		layer.open({
			content: '确认新密码不正确'
			,skin: 'msg'
			,time: 2 //2秒后自动关闭
		});
		return false;
	}
	
    $("#myform").submit();
}
</script>

</body></html>